<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bishe.sell.mapper.GoodsMapper">

    <resultMap id="Goods" type="goods">
        <id column="goods_id" property="goodsId"/>
        <result column="goods_created_time" property="goodsCreatedTime"/>
        <result column="goods_started_time" property="goodsStartedTime"/>
        <result column="goods_end_time" property="goodsEndTime"/>
        <result column="goods_price" property="goodsPrice"/>
        <result column="goods_current_price" property="goodsCurrentPrice"/>
        <result column="goods_started_price" property="goodsStartedPrice"/>
        <result column="goods_price_num" property="goodsPriceNum"/>
        <result column="goods_click_num" property="goodsClickNum"/>
        <result column="goods_title" property="goodsTitle"/>
        <result column="goods_img" property="goodsImg"/>
        <result column="goods_article" property="goodsArticle"/>
        <result column="goods_brief" property="goodsBrief"/>
        <result column="goods_flag" property="goodsFlag"/>
        <association property="type" javaType="type">
            <id column="type_id" property="typeId"/>
            <result column="type_name" property="typeName"/>
            <result column="type_flag" property="typeFlag"/>
        </association>
        <association property="user" javaType="user">
            <id column="user_id" property="userId"/>
            <result column="username" property="username"/>
            <result column="password" property="password"/>
            <result column="user_niko" property="userNiko"/>
            <result column="user_img" property="userImg"/>
            <result column="user_email" property="userEmail"/>
            <result column="user_sex" property="userSex"/>
            <result column="user_telephone" property="userTelephone"/>
            <result column="user_role" property="userRole"/>
            <result column="user_flag" property="userFlag"/>
        </association>
    </resultMap>

    <select id="getGoodsList" parameterType="page" resultMap="Goods">
        select * from goods LEFT JOIN type on
        goods_type = type_id
        LEFT JOIN user ON
        goods_user = user_id
        where goods_flag = 1
        <if test="search != null and search != ''">
            and goods_title like '%${search}%'
        </if>
        order by goods_created_time desc
        limit #{index}, #{currentCount}
    </select>

    <select id="getGoodsCount" parameterType="page" resultType="Integer">
        select count(*) from goods LEFT JOIN type on
        goods_type = type_id
        LEFT JOIN user ON
        goods_user = user_id
        where goods_flag = 1
        <if test="search != null and search != ''">
            and goods_title like '%${search}%'
        </if>
        order by goods_created_time desc
    </select>

    <insert id="addGoods" parameterType="Goods">
        insert into goods values
        (
          #{goodsId}, #{user.userId}, #{type.typeId},
          #{goodsCreatedTime}, #{goodsStartedTime},
          #{goodsEndTime}, #{goodsPrice}, #{goodsCurrentPrice},
          #{goodsStartedPrice}, #{goodsPriceNum},
          #{goodsClickNum}, #{goodsTitle}, #{goodsImg},
          #{goodsArticle}, #{goodsBrief}, #{goodsFlag}
        )
    </insert>

    <update id="deleteGoodsById">
        update goods set
        goods_flag = 2
        where goods_id = #{value}
    </update>

    <select id="getGoodsById" resultMap="Goods">
        select * from goods LEFT JOIN type on
        goods_type = type_id
        LEFT JOIN user ON
        goods_user = user_id
        where goods_id = #{value}
    </select>

    <update id="editGoods" parameterType="Goods">
        update goods set
        goods_title = #{goodsTitle},
        goods_type = #{type.typeId},
        goods_started_time = #{goodsStartedTime},
        goods_end_time = #{goodsEndTime},
        goods_started_price = #{goodsStartedPrice},
        <if test="goodsImg != null and goodsImg != ''">
            goods_img = #{goodsImg},
        </if>
        goods_brief = #{goodsBrief},
        goods_article = #{goodsArticle}
        where goods_id = #{goodsId}
    </update>

    <update id="updateClickNum">
        update goods set
        goods_click_num = goods_click_num + 1
        where goods_id = #{value}
    </update>

</mapper>
