<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bishe.sell.mapper.NewsMapper">

    <resultMap id="News" type="news">
        <id column="news_id" property="newsId"/>
        <result column="news_title" property="newsTitle"/>
        <result column="news_article" property="newsArticle"/>
        <result column="news_created_time" property="newsCreatedTime"/>
        <result column="news_read_num" property="newsReadNum"/>
        <result column="news_flag" property="newsFlag"/>
        <association property="user" javaType="user">
            <id column="user_id" property="userId"/>
            <result column="username" property="username"/>
            <result column="password" property="password"/>
            <result column="user_niko" property="userNiko" />
            <result column="user_img" property="userImg" />
            <result column="user_email" property="userEmail"/>
            <result column="user_sex" property="userSex"/>
            <result column="user_telephone" property="userTelephone"/>
            <result column="user_role" property="userRole"/>
            <result column="user_flag" property="userFlag"/>
        </association>

    </resultMap>

    <insert id="addNews" parameterType="news">
        insert into news values
        (
          #{newsId}, #{user.userId}, #{newsTitle},
          #{newsArticle}, #{newsCreatedTime},
          #{newsReadNum}, #{newsFlag}
        )
    </insert>

    <select id="getNewsList" parameterType="page" resultMap="News">
        select * from news left JOIN user on news_user = user_id
        where news_flag = 1
        <if test="search != null and search != ''">
            and news_title like '%${search}%'
        </if>
        order by news_created_time desc
        limit #{index}, #{currentCount}
    </select>

    <select id="getNewsCount" parameterType="page" resultType="Integer">
        select count(*) from news left JOIN user on news_user = user_id
        where news_flag = 1
        <if test="search != null and search != ''">
           and news_title like '%${search}%'
        </if>
        order by news_created_time desc
    </select>

    <select id="getNewsById" resultMap="News">
        select * from news left JOIN user on news_user = user_id
        where news_flag = 1
        and news_id = #{value}
    </select>

    <update id="deleteNewsById">
        update news set
        news_flag = 2
        where news_id = #{value}
    </update>

    <update id="editNews" parameterType="news">
        update news set
        news_title = #{newsTitle},
        news_user = #{user.userId},
        news_article = #{newsArticle},
        news_created_time = #{newsCreatedTime}
        where news_id = #{newsId}
    </update>

</mapper>
