<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bishe.sell.mapper.UserMapper">

    <resultMap id="User" type="user">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="user_email" property="userEmai"/>
        <result column="user_sex" property="userSex"/>
        <result column="user_telephone" property="userTelephone"/>
        <result column="user_role" property="userRole"/>
        <result column="user_flag" property="userFlag"/>
    </resultMap>

</mapper>
