<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bishe.sell.mapper.UserMapper">

    <resultMap id="User" type="user">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="user_niko" property="userNiko" />
        <result column="user_email" property="userEmail"/>
        <result column="user_sex" property="userSex"/>
        <result column="user_telephone" property="userTelephone"/>
        <result column="user_role" property="userRole"/>
        <result column="user_flag" property="userFlag"/>
    </resultMap>

    <select id="getUserByUsername" parameterType="user" resultMap="User">
        select * from user
        where user_flag = 1
        and username = #{username}
    </select>

    <insert id="addUser" parameterType="user">
      insert into user values
      (
        #{userId}, #{username}, #{password}, #{userNiko},
        #{userEmail}, #{userSex}, #{userTelephone},
        #{userRole}, #{userFlag}
      )
    </insert>

</mapper>
