<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bishe.sell.mapper.UserMapper">

    <resultMap id="User" type="user">
        <id column="user_id" property="userId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="user_niko" property="userNiko" />
        <result column="user_img" property="userImg" />
        <result column="user_email" property="userEmail"/>
        <result column="user_sex" property="userSex"/>
        <result column="user_telephone" property="userTelephone"/>
        <result column="user_role" property="userRole"/>
        <result column="user_flag" property="userFlag"/>
    </resultMap>

    <select id="getUserByUsername" parameterType="user" resultMap="User">
        select * from user
        where user_flag = 1
        and username = #{username}
    </select>

    <insert id="addUser" parameterType="user">
      insert into user values
      (
        #{userId}, #{username}, #{password}, #{userNiko}, #{userImg},
        #{userEmail}, #{userSex}, #{userTelephone},
        #{userRole}, #{userFlag}
      )
    </insert>

    <select id="getUser" parameterType="user" resultMap="User">
        select * from user
        where user_id = #{userId}
    </select>

    <update id="editUser" parameterType="user">
        update user set
        password = #{password},
        user_niko = #{userNiko},
        user_img = #{userImg},
        user_email = #{userEmail},
        user_sex = #{userSex},
        user_telephone = #{userTelephone}
        where user_id = #{userId}
    </update>

    <select id="getUserList" parameterType="page" resultMap="User">
        select * from user
        where user_flag = 1
        <if test="search != null and search != ''">
            and user_niko like '%${search}%'
        </if>
        limit #{index}, #{currentCount}
    </select>

    <select id="getUserCount" parameterType="page" resultType="Integer">
        select count(*) from user
        where user_flag = 1
        <if test="search != null and search != ''">
            and user_niko like '%${search}%'
        </if>
    </select>

    <update id="deleteUserById">
        update user set
        user_flag = 2
        where user_id = #{value}
    </update>

    <update id="updateUserAdminById" parameterType="user">
        update user set
        user_role = #{userRole}
        where user_id = #{userId}
    </update>

</mapper>
